<include file="public:header"/>
<body>
<style>
    body{padding-bottom: 0px !important;}
    .upload-url {
        display: inline-block !important;
    }
    .form-label{text-align: right !important;}
</style>
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post" onsubmit="return false">
        <input type="hidden" value="<{$input['group_id']}>" name="roleId">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">权限节点：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <foreach name="rule_list" item="vo">
                    <div class="radio-box" style="margin-bottom: 10px">
                        <input type="checkbox" name="rule[]" value="<{$vo['rule_id']}>" id="radio-<{$vo['rule_id']}>" <if condition="$vo['exist'] eq 1">checked="true"</if>>　
                        <label for="radio-<{$vo['rule_id']}>"><{$vo['title']}></label>
                    </div>
                </foreach>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="save_submit();" class="btn btn-secondary radius" type="button">保存</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<include file="public:footer"/>
<script>
    function save_submit(){
        $("form").ajaxSubmit(function(e){
            if(e.code == 0){
                layer.alert(e.msg, {icon: 6},function () {
                    window.parent.location.reload();
                });
            }else{
                layer.alert(e.msg, {icon: 5});
            }
        });
    }
</script>
