<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__admin__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__admin__/lib/respond.min.js"></script>
    <![endif]-->
    <link href="__admin__/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__admin__/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
    <link href="__admin__/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__admin__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="__admin__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title><{$config['web_title']}>-后台登录</title>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<!--<div class="header"></div>-->
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <h1 style="text-align: center;color:#FFFFFF;padding-top:0px;"><{$config['web_title']}> 管理后台</h1>
        <form class="form form-horizontal" onsubmit="return false" method="post">
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input name="username" type="text" placeholder="账户" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input id="" name="password" type="password" placeholder="密码" class="input-text size-L">
                </div>
            </div>
            <!--      <div class="row cl">
                    <div class="formControls col-xs-8 col-xs-offset-3">
                      <input class="input-text size-L" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">
                      <img src=""> <a id="kanbuq" href="javascript:;">看不清，换一张</a> </div>
                  </div>-->
            <!--      <div class="row cl">
                    <div class="formControls col-xs-8 col-xs-offset-3">
                      <label for="online">
                        <input type="checkbox" name="online" id="online" value="">
                        使我保持登录状态</label>
                    </div>
                  </div>-->
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <!--<input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">-->
                </div>
            </div>
        </form>
    </div>
    <!--<img src="__MSTATIC__/h-ui.admin/images/icon.png" alt="" width="80" height="80" style="position: fixed;bottom: 30px;left:50%;margin-left:-40px;">-->
    <!--<h4 style="text-align: center;color:#FFFFFF;position: fixed;bottom: 50px;left:50%;width:800px;margin-left:-400px;">天津政法委及《天津政法报》社</h4>-->
</div>
<script type="text/javascript" src="__admin__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__admin__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__admin__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__admin__/jquery.form.js"></script>
<script>
    $(function(){
        $(".btn-success").click(function () {
            $("form").ajaxSubmit(function (e) {
                console.log(e)
                if(e.code == 0){
                    layer.alert(e.msg, {icon: 6},function () {
                        window.location.href="aindex";
                    });
                }else{
                    layer.alert(e.msg, {icon: 5});
                }
            });
        });
        if (window.frames.length != parent.frames.length) {parent.location.reload();}
    });
</script>
</body>
</html>